body, html{
    height:100%;
}

.container {
    background-image: url(https://img.freepik.com/free-photo/brick-wall_1154-638.jpg?size=626&ext=jpg);
    min-height: 100%;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

#main-row {
    height: 500px;
}

#main-left {
    background-image: url("bga4.png");
    background-repeat:no-repeat;
}

#main-center {
    background-image: url("bgb3.png");
    background-repeat:no-repeat;
}

#basic-info {
    margin-top: 225px;
    text-align: center;
    color: #3c6382
}

#main-right {
    background-image: url("bgc4.png");
    background-repeat:no-repeat;
}

#button-row {
    margin: 20px 0px 20px 0px;
}

button {
    color: #3c6382;
    font-weight: bold;
    width: 155px;
    background-color: white;
    border: 2px solid #3c6382;
    border-radius: 7px;
    /* center button in column */
    display: block;
    margin: auto;
}

button:hover {
    background-color: #3c6382;
    color: white;
}

#about-div {
    border: 1px solid grey;
    box-shadow: 0px 5px 10px 0px;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}

#resume-div {
    border: 1px solid grey;
    box-shadow: 0px 5px 10px 0px;
    background-color: white;
    border-radius: 7px;
}

#resume-header {
    text-align: center;
    padding-top: 15px;
}

.resume-heading {
    padding-top: 10px;
}

.dates {
   float: right;
}

.link {
    margin-bottom: 10px;
}

#portfolio-div {
    border: 1px solid grey;
    box-shadow: 0px 5px 10px 0px;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}

#links-div {
    border: 1px solid grey;
    box-shadow: 0px 5px 10px 0px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
}

#footer {
    color: white !important;
    /* force copyright to middle of footer */
    margin-right: auto !important;
    margin-left: auto !important;
}